*{
    margin: 0;
    padding: 0;

}
html{
    width: 100%;
    height: auto;
}
/*轮播*/
.swiper{
    width:100%;
    height: 11rem;
    /*position: absolute;*/
    overflow: hidden;
}
.swiper img{
    width:100%;
    height: 11rem;
}
.swiper li{
    width:calc(100% / 2);
    height: 11rem;
    float: left;
    list-style-type: none;
}
.swiper ul{
    width:200%;
    -webkit-animation: myani 5s infinite;
}
@keyframes myani {
    0%,25% {
        margin-left: 0;
    }


    50%,75% {
        margin-left: -100%;
    }
}
/*三步*/
.sanbu{
    display: flex;
    flex-direction: column;
}
.sanbu h4{
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    margin-top:1.5rem;
}
.san{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
.san p{
    font-size: 0.8rem;
   display: flex;
    flex-shrink: 1;
}
.san li{
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
   text-align: center;
    flex-shrink: 1;
}
.san1 {
    background-image: url("img/san.jpg");
    background-size: 281px;
    background-position: -31px -93px;
}

.san1{
    width: 53px;
    height: 42px;
    display: flex;
    /*flex-direction: column;*/
    /*margin: 32px 10px 0 31px;*/
}
.san2{
    background-image: url("img/san.jpg");
    background-size: 281px;
    background-position: -114px -185px;
}

.san2{
    width: 53px;
    height: 42px;
    /*margin: 32px 10px 0 31px;*/
}
.san3{
    background-image: url("img/san.jpg");
    background-size: 281px;
    background-position: 96px -93px;
}

.san3{
    width: 53px;
    height: 42px;
    /*margin: 32px 10px 0 31px;*/
}
/*<!--回收付款安全-->*/
.hfa{
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    text-align: center;
}
.hfa li{
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 0.5rem;
}
.hs{
    width: 56px;
    height: 47px;
    background-image: url("img/hfa.jpg");
    background-size: 73px;
    background-position:62px -9px;
}
#aq-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#hs-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#fk-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.fk{
    width: 72px;
    height: 47px;
    background-image: url("img/hfa.jpg");
    background-size: 73px;
    background-position:227px -59px;
}
.aq{
    width: 73px;
    height: 47px;
    background-image: url("img/hfa.jpg");
    background-size: 73px;
    background-position:84px 56px;
}
/*活动规则*/
.active-rule{
    display: flex;
    flex-direction: column;
    margin: 0.2rem 2rem;
}
.active-rule h4{
    text-align: center;
    margin: 1rem auto;
}
.three-rule p{
    font-size: 0.5rem;
    /*margin:0.4rem auto;*/
    color: grey;

}
/*<!--更多规则-->*/
.mobile{
    margin-top: 1rem;
    text-align: center;
}
.much-rule{
    /*display: inline-flex;*/
    /*flex-direction: row;*/
    text-align: center;
    /*font-weight: 500;*/

}
.much-rule h5{
    font-weight: 500;
    font-size:0.8rem;
    margin-bottom:0.5rem;
}
.much-rule img{
    width: 1rem;
    height:1rem;
    position: relative;
    top:0.2rem;
}
/*更多手机*/
.mobile-much{
    display: inline-flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.mobile-much li{
  /*margin: auto 0.5rem;*/
    display:inline-flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;

}
.phone-tj img{
    width: 8.2rem;
    height: 7rem;
}
/*手机内容*/
.phone-content p{
    font-size:0.08em;
    text-align: center;
    margin: 0.1rem auto;
}
.red-size {
    font-size: 1rem;
    font-weight: 600;
}
.price{
    color: red;
}
.phone-content button{
    color: white;
    background-color: red;
    border-radius: 0.3rem;
    border: 0.1rem solid red;
    text-align: center;
    font-size: 0.01rem;
    width:4.5rem;
    height:1.4rem;
    margin: 0.3rem auto;
}
/*我的订单*/
.my-order img{
    width:0.8rem;
    height:0.8rem;
    position: relative;
    top:0.15rem;

}
.my-order a{
    text-decoration: none;
    font-size: 0.7rem;
    color: black;
}
.white{
   background-color: rgb(245,245,245);
    height: 3rem;
}
/*<!--底部固定导航-->*/
.nav-fixed{
    width: 100%;
    height: 2.5rem;
    position: fixed;
    z-index: 2;
    background-color:red;
    color: white;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*圆*/
.yuan1 button{
    width:2.5rem;
    height:2.5rem;
    border-radius: 45px;
    border: 0.1rem solid red;
    background-color: red;
    position:relative;
    color: white;
    font-size:0.2rem;
    top:-8rem;
    left:2.5rem;
    z-index: 3;
}
.yuan2 button{
    width:2.5rem;
    height:2.5rem;
    border-radius: 45px;
    border: 0.1rem solid red;
    background-color: red;
    position:relative;
    color: white;
    font-size:0.2rem;
    top:-8rem;
    left:2.5rem;
    z-index: 3;
}
.yuan3 button{
    width:2.5rem;
    height:2.5rem;
    border-radius: 45px;
    border: 0.1rem solid red;
    background-color: red;
    position:relative;
    color: white;
    font-size:0.2rem;
    top:-8rem;
    left:2.5rem;
    z-index: 3;
}
.yuan4 button{
    width:2.5rem;
    height:2.5rem;
    border-radius: 45px;
    border: 0.1rem solid red;
    background-color: red;
    position:relative;
    color: white;
    font-size:0.2rem;
    top:-8rem;
    left:2.5rem;
    z-index: 3;
}


















